{{#section 'title'}}
    Cập nhật thông tin cá nhân
{{/section}}
					<div class="list-group TuyChon" style="padding-top: 20px;">
					  <a href="/admin/Dashboard" class="list-group-item list-group-item-action"><img src="/images/admin-imgs/icon-dashboard.png"> Dashboard</a>
					  <a href="/admin/admin-QuanLySanPham" class="list-group-item list-group-item-action"><img src="/images/admin-imgs/icon-product.png"> Quản lý sản phẩm</a>
					  <a href="/admin/admin-QuanLyNSX" class="list-group-item list-group-item-action"><img src="/images/admin-imgs/icon-NSX.png"> Quản lý NSX</a>
					  <a href="/admin/admin-QuanLyDonHang" class="list-group-item list-group-item-action"><img src="/images/admin-imgs/icon-check.png"> Quản lý đơn hàng</a>
					</div>
				</div>
			</div>
			<div class="col-9">
				<div style="background-color: rgba(255,255,255,0.1); border-radius: 5px; padding: 50px; height: 534px;">
					<h2>CẬP NHẬT THÔNG TIN</h2>
					<div style="padding-right: 20px; padding-top: 30px">
					<form method="POST">
						<div class="form-group">
							<div class="row">
								<div class="col-3">
									<label for="">EMAIL</label>
								</div>
								<div class="col-7">
									<input type="email" class="form-control" id="Email1" aria-describedby="emailHelp" value="anhhoang_96@gmail.com" disabled="disabled">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-3">
									<label for="">SỐ ĐIỆN THOẠI</label>
								</div>
								<div class="col-7">
									<input type="text" class="form-control" id="Email1" aria-describedby="emailHelp">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-3">
									<label for="">HỌ TÊN</label>
								</div>
								<div class="col-7">
									<input type="text" class="form-control" id="Email1" aria-describedby="emailHelp" value="Anh Hoàng Nguyễn">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-3">
									<label for="">NGÀY SINH</label>
								</div>
								<div class="col-7">
									<input type="date" class="form-control" id="Email1" aria-describedby="emailHelp">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-3">
									<label for="">ĐỊA CHỈ</label>
								</div>
								<div class="col-7">
									<input type="text" class="form-control" id="Email1" aria-describedby="emailHelp">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-3">
									<label for="">GIỚI TÍNH</label>
								</div>
								<div class="col-7">
									<div class="form-check form-check-inline">
									  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked="checked">
									  <label class="form-check-label" for="inlineRadio1">NAM</label>
									</div>
									<div class="form-check form-check-inline">
									  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
									  <label class="form-check-label" for="inlineRadio2">NỮ</label>
									</div>
									<div class="form-check form-check-inline">
									  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
									  <label class="form-check-label" for="inlineRadio3">KHÁC</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-3"></div>
							<div class="col-7"><button class="btn btn-warning" type="submit">CẬP NHẬT</button></div>
						</div>
					</form>
					</div>
				