{{#section 'title'}}
    Đăng ký
{{/section}}

	<div class="row">
		<div class="col"><h2>ĐĂNG KÍ</h2></div>
		<div class="col"><h2>ĐIỀU KHOẢN/TERMS</h2></div>
	</div>
	<div class="row" style="margin-top: 25px;">
		<div class="col" style="border-right: solid 1px #ffffff2b;">
			<form style="padding-right: 20px" action="" method="post">
				<div class="form-group">
					<label for="">Họ Tên</label>
					<div class="row">
					    <div class="col">
					      	<input type="text" class="form-control" id="LastName" placeholder="Họ">
					    </div>
					    <div class="col">
					      	<input type="text" class="form-control" id="FirstName" placeholder="Tên">
					    </div>
					</div>
				</div>
				<div class="form-group">
					<label for="">Email</label>
					<input type="email" class="form-control" id="Email1" aria-describedby="emailHelp" placeholder="Địa chỉ email">
				</div>
				<div class="form-group">
			      <label for="Password">Mật khẩu</label>
			      <input type="password" class="form-control" id="Password" placeholder="Mật khẩu">
			    </div>
			    <div class="form-group">
			    	<div class="custom-control custom-checkbox was-validated">
				    	<input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
						<label class="custom-control-label" for="customControlValidation1">Đồng ý với <span style="color: #fff">điều khoản</span> của dịch vụ</label>
					</div>
			    </div>
			    <div class="form-group">
			    	<div class="g-recaptcha" data-sitekey="6LfyxCMUAAAAACCHIq7vrzb6Oxr_Ky16Bi_lhbg6"></div>
			    </div>
			    <button class="btn btn-warning" type="submit">Đăng kí</button>
			</form>
		</div>
		<div class="col">
			<p> 1. Thương hiệu và bản quyền<br>Mọi quyền sở hữu trí tuệ (đã đăng ký hoặc chưa đăng ký), nội dung thông tin và tất cả các thiết kế, văn bản, đồ họa, phần mềm, hình ảnh, video, âm nhạc, âm thanh, biên dịch phần mềm, mã nguồn và phần mềm cơ bản đều là tài sản của chúng tôi. Toàn bộ nội dung của trang web được bảo vệ bởi luật bản quyền của Việt Nam và các công ước quốc tế. Bản quyền đã được bảo lưu. Tất cả nội dung trang web và ý kiến phê bình của quý khách đều là tài sản của chúng tôi. Nếu chúng tôi phát hiện bất kỳ thông tin giả mạo nào, chúng tôi sẽ khóa tài khoản của quý khách ngay lập tức.</p>
			<p>2. Quy định về bảo mật<br>Trang web của chúng tôi coi trọng việc bảo mật thông tin và sử dụng các biện pháp tốt nhất bảo vệ thông tin và việc thanh toán của quý khách. Thông tin của quý khách trong quá trình thanh toán sẽ được mã hóa để đảm bảo an toàn. Sau khi quý khách hoàn thành quá trình đặt hàng, quý khách sẽ thoát khỏi chế độ an toàn.</p>
		</div>
	</div>
		