{{#section 'title'}}
    Dashboard
{{/section}}

	<div class="list-group TuyChon" style="padding-top: 20px;">
					  <a href="/admin/Dashboard" class="list-group-item list-group-item-action active"><img src="/images/admin-imgs/icon-dashboard.png"> Dashboard</a>
					  <a href="/admin/admin-QuanLySanPham" class="list-group-item list-group-item-action"><img src="/images/admin-imgs/icon-product.png"> Quản lý sản phẩm</a>
					  <a href="/admin/admin-QuanLyNSX" class="list-group-item list-group-item-action"><img src="/images/admin-imgs/icon-NSX.png"> Quản lý NSX</a>
					  <a href="/admin/admin-QuanLyDonHang" class="list-group-item list-group-item-action"><img src="/images/admin-imgs/icon-check.png"> Quản lý đơn hàng</a>
					</div>
				</div>
			</div>
			<div class="col-9">
				<div style="background-color: rgba(255,255,255,0.1); border-radius: 5px; padding: 50px; height: 534px;">
					<h2>DASHBOARD</h2>
					<div style="padding-right: 20px; padding-top: 30px">
						<div class="">
							<a href="/admin/admin-CapNhatThongTin" title="Thông tin cá nhân"><div class="DashboardAdmin" style="background: url(/images/admin-imgs/db-user.png) #6610F1 no-repeat scroll center center;">CÁ NHÂN</div></a>
							
							<a href="/admin/admin-QuanLySanPham" title="Quản lý sản phẩm"><div class="DashboardAdmin" style="background: url(/images/admin-imgs/db-product.png) #e83e8c no-repeat scroll center center;">QL SẢN PHẨM</div></a>
							<a href="/admin/admin-QuanLyNSX" title="Quản lý nhà sản xuất"><div class="DashboardAdmin" style="background: url(/images/admin-imgs/db-NSX.png) #dc3545 no-repeat scroll center center;">QL NSX</div></a>
						</div>
						<div class="" style="clear: both;">
							<a href="/admin/admin-QuanLyDonHang" title="Quản lý đơn hàng"><div class="DashboardAdmin" style="background: url(/images/admin-imgs/db-donhang.png) #fd7e14 no-repeat scroll center center;">QL ĐƠN HÀNG</div></a>
							<a href="" title="Xem báo cáo" data-toggle="modal" data-target="#ChucNangChuaSS"><div class="DashboardAdmin" style="background: url(/images/admin-imgs/db-report.png) #20c997 no-repeat scroll center center;">XEM BÁO CÁO</div></a>
							<a href="" title="Backup/Restore" data-toggle="modal" data-target="#ChucNangChuaSS"><div class="DashboardAdmin" style="background: url(/images/admin-imgs/db-backup.png) #ffc107 no-repeat scroll center center;">BACKUP/RESTORE</div></a>
							<div style="clear: both;"></div>
						</div>
					</div>
