{{#section 'title'}}
    Quên mật khẩu
{{/section}}

	<div class="row">
		<div class="col"><h2>QUÊN MẬT KHẨU</h2></div>
		<!-- <div class="col"><h2>ĐIỀU KHOẢN/TERMS</h2></div> -->
	</div>
	<div class="row" style="margin-top: 25px;">
		<div class="col" style="border-right: solid 1px #ffffff2b;">
			<form style="padding-right: 100px" action="" method="post">
				<div class="form-group">
					<label for="">Email</label>
					<input type="email" class="form-control" id="Email1" aria-describedby="emailHelp" placeholder="Địa chỉ email">
				</div>
			    <button class="btn btn-warning" type="submit">Xác nhận</button>
			</form>
			<div id="loginKhac" style="margin-top: 60px;">
				<div style="margin: 30px auto;"><a href="https://www.facebook.com/login.php?skip_api_login=1&api_key=386649034810416&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fv2.6%2Fdialog%2Foauth%3Fredirect_uri%3Dhttps%253A%252F%252Fwww.fshare.vn%252Fsite%252Fauth%253Fauthclient%253Dfacebook%26state%3D5753b0e650f483cc32ed2b60be6d453a3663c38544893f00e5338ff426706f45%26scope%3Demail%26response_type%3Dcode%26client_id%3D386649034810416%26ret%3Dlogin%26logger_id%3D0a505d4b-aa12-34c6-9948-3321edbd1711&cancel_url=https%3A%2F%2Fwww.fshare.vn%2Fsite%2Fauth%3Fauthclient%3Dfacebook%26error%3Daccess_denied%26error_code%3D200%26error_description%3DPermissions%2Berror%26error_reason%3Duser_denied%26state%3D5753b0e650f483cc32ed2b60be6d453a3663c38544893f00e5338ff426706f45%23_%3D_&display=page&locale=vi_VN&logger_id=0a505d4b-aa12-34c6-9948-3321edbd1711" target="_top" class="loginFacebook">Đăng nhập bằng facebook</a></div>
				<div style="margin: 30px auto;"><a href="https://accounts.google.com/signin/oauth/identifier?client_id=588087332814-26i6oluau7cfj8juqf2cg7h9qmn8qvii.apps.googleusercontent.com&as=TJ0SRAoyHQuqX2S7d_ewxg&destination=https%3A%2F%2Fwww.fshare.vn&approval_state=!ChRMbGpYU29ieHMxYXNvajluMEs4VxIfVXdGSmViSkUwUjBhY01pNW5wOWhjSFFfVFlsNk1CWQ%E2%88%99AB8iHBUAAAAAWuSPFu3QKcItmO8W4M2dEGAp8pGKF0-Z&xsrfsig=AHgIfE_h9iJQuFFqBeGz_MP2C0krlEVJqw&flowName=GeneralOAuthFlow" class="loginGoogle">Đăng nhập bằng Google</a></div>
			</div>
		</div>
		<div class="col">
			<div style="line-height: 350px; text-align: center;"><img style="width: 350px; height: 150px;" src="/images/admin-imgs/logo.png"></div>
			<div style="text-align: center;font-size: 50px;">smartstore.com</div>
		</div>
	</div>