{{#section 'title'}}
    Đăng ký
{{/section}}
{{#section 'title'}}
    Đăng ký
{{/section}}

<div class = "row-login center">
	<h3 class="header-title-modal">Đăng ký Smart Store</h3>
	<div class="alert alert-danger hide-div" id="error-register">
	</div>
	<div class="form-login-input">
	    <form action="" method="POST" role="form">
	        <div class="form-input">
	            <input type="email" class="form-control" id="email-reg" name="email" placeholder="Email">
	        </div>
	        <div class="form-input">
	            <input type="password" class="form-control" id="pwd-reg" name="PWD" placeholder="Mật khẩu">
	        </div>
	        <div class="form-input">
	            <input type="password" class="form-control" id="repwd-reg" name="rePWD" placeholder="Nhập lại Mật khẩu">
	        </div>
	        <div class="form-input">
	            <input type="text" class="form-control" id="name-reg" name="name" placeholder="Họ và Tên">
	        </div>
	        <div class="form-input">
	            <input type="text" class="form-control" id="txtDOB" name="dob" placeholder="Ngày sinh - dd/mm/yyyy">
	        </div>
	        <div class="form-input">
	            <input type="text" class="form-control" id="phone-reg" name="phone" placeholder="Số điện thoại">
	        </div>
	        <div class="g-recaptcha" data-sitekey="6LdrEVYUAAAAAIW-wRsQhJiSJlOPmKMqvagwbiuX">
	        </div>
	       <div class="checkbox cb-dieukhoan">
	            <label><input type="checkbox" value="">Chấp nhận <a class="a-txt-gach-chan" href="">điều khoản</a> của SmartMarket</label>
	        </div>
	        <p class="form-submit">
	            <button type="submit" class="btn btn-default submit-login">Đăng ký ngay</button>
	        </p>

	    </form>
	</div>
</div>