<!DOCTYPE html>
<html lang="en">
  
<!-- Mirrored from kute-themes.com/html/smartmarket/html/index4.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Apr 2018 03:11:42 GMT -->
<head>
    <meta charset="utf-8">
    <title>{{{_sections.title}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel='stylesheet' type='text/css' href='/assets/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='/assets/css/font-awesome.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/owl.carousel.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/slick.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/chosen.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/animate.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/themify-icons.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/elegant-icons.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/style.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/slider.css'/>
    <link rel='stylesheet' type='text/css' href='/assets/css/main.css'/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i|Rubik:300,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    {{{_sections.css}}}
</head>
<body>
<header class="header header-width-container style4">
    <div class="header-top full-width">
        <div class="container">
            <div class="top-bar-left">
                <div class="header-sale">Sự kiện store giảm giá sốc <span>đến 65% OFF!</span></div>
                <div class="header-contact">Gọi cho chúng tôi: <span>0981 333 497</span></div>
            </div>
            <div class="top-bar-right">
                <div class="switcher-current">
                    <a href="#" class="switcher-item">VietNamDong (VND)</a>
                </div>
                <div class="switcher-language">
                    <a href="#" class="switcher-item"><img src="/images/imgs/flag-vi-language.png" alt="img">VietNamese</a>
                </div>
                <ul class="socials">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main-header main-menu-wapper">
            <div class="logo"><a href="/"><img src="/images/imgs/logo2.png" alt="img"></a></div>
            <div class="box-header-nav">
                <ul class="main-menu clone-main-menu">
                    <li class="menu-item menu-item-has-children"><a href="/" class="kt-item-title" title="Home">Trang chủ</a>
                    </li>
                    <li class="menu-item menu-item-has-children"><a href="/home/about" class="kt-item-title" title="PAGES">Giới thiệu</a>
                    </li>
                    <li class="menu-item menu-item-has-children"><a href="/shop/shopping" class="kt-item-title" title="Shop">Sản phẩm</a>
                        <div class="submenu megamenu">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="custommenu">
                                        <ul class="menu">
                                            <li class="menu-item"><a href="shop-grid-dt.html">ĐIỆN THOẠI</a></li>
                                            <li class="menu-item items-child-1"><a href="shop-grid-dt.html">&rsaquo; APPLE - IPhone</a></li>
                                            <li class="menu-item items-child-1"><a href="shop-grid-dt.html">&rsaquo; SAMSUNG</a></li>
                                            <li class="menu-item items-child-1"><a href="shop-grid-dt.html">&rsaquo; HTC</a></li>
                                            <li class="menu-item items-child-1"><a href="shop-grid-dt.html">&rsaquo; SONY</a></li>
                                            <li class="menu-item items-child-1"><a href="shop-grid-dt.html">&rsaquo; NOKIA</a></li>
                                            <li class="menu-item items-child-1"><a href="shop-grid-dt.html">&rsaquo; OPPO</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="custommenu">
                                        <ul class="menu">
                                            <li class="menu-item"><a href="shop-grid-mtb.html">MÁY TÍNH BẢNG</a></li>
                                            <li class="menu-item items-child-1"><a href="shop-grid-mtb.html">&rsaquo; APPLE - IPad</a></li>
                                            <li class="menu-item items-child-1"><a href="shop-grid-mtb.html">&rsaquo; SAMSUNG</a></li>
                                            <li class="menu-item items-child-1"><a href="shop-grid-mtb.html">&rsaquo; HUAWEI</a></li>
                                            <li class="menu-item items-child-1"><a href="shop-grid-mtb.html">&rsaquo; LENOVO</a></li>
                                        </ul>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- <li class="menu-item menu-item-has-children"><a href="pages/admin-order.html" class="kt-item-title" title="PAGES">ADMIN TEST</a>
                    </li> -->
                </ul>
            </div>
            <div class="box-items-right">
                <div class="login-register " >
                    <a data-toggle="modal" href="#modal-login" class="">Đăng nhập</a>
                    <label> / </label>
                    <a data-toggle="modal" href="#modal-register" class="">Đăng ký</a>
                </div>
                <div class="dropdown hide-div">
                    <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown">Nguyễn Hoàng Anh
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="account.html">Hồ Sơ</a></li>
                        <li><a href="account.html">Đơn Hàng</a></li>
                        <li><a href="index.html">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>
         
         <!-- modal Login -->
        <div class="container">
            <!-- Modal -->
            <div class="modal fade" id="modal-login" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="close-modal-x">
                                <a data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span></a>
                            </div>
                            <h3 class="header-title-modal">Đăng nhập SmartMarket</h3>
                            <div class="form-login-input">
                                <form>
                                    <div class="form-input">
                                        <input type="text" class="form-control" value="user1" placeholder="Email">
                                    </div>
                                    <div class="form-input">
                                        <input type="password" class="form-control" value="123" placeholder="Mật khẩu">
                                    </div>
                                    <div class="checkbox cb-dieukhoan">
                                        <label><input type="checkbox" value="">Ghi nhớ</label>
                                    </div>
                                    <p class="form-submit">
                                        <button type="button" class="btn btn-default submit-login">Login</button>
                                    </p>

                                    <div class="fg-pass">
                                        <a class="register" data-dismiss="modal" data-toggle="modal" href="#modal-register">Đăng ký tài khoản mới</a>
                                    </div>
                                    <div class="fg-pass">
                                        <a class="forget-password" href="#modal-foget-pass" data-dismiss="modal" data-toggle="modal">Quên mật khẩu</a>
                                    </div>
                                </form>
                            </div>                                
                        </div>
                      
                    </div> <!-- modal content -->
                 
                </div>
            </div>
        </div> <!-- end modal Login -->
        
        <!-- modal lay password -->
        <div class="container">
            <!-- Modal -->
            <div class="modal fade" id="modal-foget-pass" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="close-modal-x">
                                <a data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span></a>
                            </div>
                            <h3 class="header-title-modal">Khôi phục mật khẩu ở Smart Store</h3>
                            <div class="form-login-input">
                                <form>
                                    <p>Điền Email tài khoản để đổi mật khẩu mới</p>
                                    <div class="form-input">
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>

                                    <p class="form-submit">
                                        <button type="button" class="btn btn-default submit-login" data-dismiss="modal">Gửi mail</button>
                                    </p>

                                </form>
                            </div>                                
                        </div>
                      
                    </div> <!-- modal content -->
                 
                </div>
            </div>
        </div> <!-- end modal register -->

        <!-- modal register -->
        <div class="container">
            <!-- Modal -->
            <div class="modal fade" id="modal-register" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="close-modal-x">
                                <a data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span></a>
                            </div>
                            <h3 class="header-title-modal">Đăng ký Smart Store</h3>
                            <div class="form-login-input">
                                <form>
                                    <div class="form-input">
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-input">
                                        <input type="password" class="form-control" placeholder="Mật khẩu">
                                    </div>
                                    <div class="form-input">
                                        <input type="password" class="form-control" placeholder="Nhập lại Mật khẩu">
                                    </div>
                                    <div class="g-recaptcha" data-sitekey="6LdrEVYUAAAAAIW-wRsQhJiSJlOPmKMqvagwbiuX">
                                        
                                    </div>
                                   <div class="checkbox cb-dieukhoan">
                                        <label><input type="checkbox" value="">Chấp nhận <a class="a-txt-gach-chan" href="">điều khoản</a> của SmartMarket</label>
                                    </div>
                                    <p class="form-submit">
                                        <button type="button" class="btn btn-default submit-login">Đăng ký ngay</button>
                                    </p>

                                </form>
                            </div>                                
                        </div>
                      
                    </div> <!-- modal content -->
                 
                </div>
            </div>
        </div> <!-- end modal register -->

        <div class="header-nav">
            <div class="vertical-menu">
                <div class="block-title">
                    <i class="fa fa-bars"></i>
                    <span class="text">Tất cả danh mục</span>
                </div>
                <div class="vertical-menu-content">
                    <ul class="vertical-menu-items">
                        <li class="menu-item"><a href="shop-grid-dt.html"><i class="fa fa-mobile"></i>Điện thoại</a></li>
                        <li class="menu-item"><a href="shop-grid-mtb.html"><i class="fa fa-tablet"></i>Máy tính bảng</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-search">
                <form class="form-search-header">
                    <div class="categori-search">
                        <select class="show-categories">
                            <option value="all">Tất cả</option>
                            <option value="dienthoai">Điện thoại</option>
                            <option value="maytinhbang">Máy tính bảng</option>
                            <option value="android">Android</option>
                            <option value="ios">IOS </option>
                            <option value="window phone">Window Phone </option>
                            <option value="Blackberry">Blackberry</option>
                        </select>
                    </div>
                    <input type="text" placeholder="Bạn cần tìm gì?">
                    <a href="shop-grid.html" class="button-search">TÌM KIẾM</a>
                </form>
            </div>
            <div class="header-control">
                <div class="header-cart">
                    <div class="header-mini-cart">
                        <a href="#">
                            <span class="icon icon_bag_alt"></span>
                            <span class="count">2</span>
                            <span class="total">25 000 000 đ</span>
                        </a>
                        <div class="mini-cart-content">
                            <ul class="items">
                                <li class="item">
                                    <a href="#" class="product-media"><img src="/images/imgs/ip-5-16GB-0.jpg" alt="img"></a>
                                    <div class="product-info">
                                        <div class="price">
                                            <label class="unit-price">5 000 000đ</label>
                                            <label class="lable-mulx-minicart" style="color: #000;">x</label>                            
                                            <a href="javascript:;" class="sign minus"><i class="fa fa-minus"></i></a>
                                            <label class="quantity-mini-cart">1</label>                       
                                            <a href="javascript:;" class="sign plus"><i class="fa fa-plus"></i></a>
                                        </div>
                                        <div class="product-name"><a href="#">Iphone 5s 32GB</a></div>
                                    </div>
                                    <a href="javascript:;" class="remove-li">x</a>
                                </li>  
                            </ul>
                            <div class="subtotal">Tổng<span>25 000 000đ</span></div>
                            <div class="actions">
                                <a href="shopping-cart.html" class="btn-process">XEM GIỎ HÀNG</a>
                                <a href="checkout.html" class="btn-process btn-checkout">THANH TOÁN</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="main-content">
   
        {{{body}}}

</div>
<footer class="footer footer-style-1">
    <div class="container">
        <div class="footer-top auto-clear">
            <div class="row">
                <div class="col-ts-12 col-xs-6 col-sm-6 col-md-5">
                    <div class="logo-footer">
                        <a href="index.html">
                            <img src="/images/imgs/logo2-footer.png" alt="img">
                        </a>
                    </div>
                    <div class="footer-infomation">
                        <p>I82 Nguyễn Văn Cừ, <br>
                            Quận 5, TPHCM</p>
                        <p>Điện thoại: 0981333497</p>
                        <p>Email: nghanh.ittn@gmail.com</p>
                    </div>
                    <div class="social-footer">
                        <span class="social-text">Liên lạc</span>
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-ts-12 col-xs-6 col-sm-6 col-md-3">
                    <div class="menu-footer">
                        <h3 class="title-footer">Tìm nhanh</h3>
                        <ul class="menu">
                            <li class="menu-item"><a href="#">Điện thoại</a></li>
                            <li class="menu-item"><a href="#">Máy tính bảng</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-ts-12 col-xs-6 col-sm-6 col-md-2">
                    <div class="menu-footer">
                        <h3 class="title-footer">Thông tin</h3>
                        <ul class="socials">
                            <li class="menu-item"><a href="about-us.html">Giới thiệu</a></li>
                            <li class="menu-item"><a href="#">Liên hệ</a></li>
                            <li class="menu-item"><a href="#">Thông tin giao hàng</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-ts-12 col-xs-6 col-sm-6 col-md-2">
                    <div class="menu-footer">
                        <h3 class="title-footer">Khách hàng</h3>
                        <ul class="socials">
                            <li class="menu-item"><a href="#">Tài khoản</a></li>
                            <li class="menu-item"><a href="#">Đơn hàng</a></li>
                            <li class="menu-item"><a href="#">Yêu thích</a></li>
                            <li class="menu-item"><a href="#">Hỗ trợ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content full-width">
            <div class="container">
                <div class="newsletter-form-wrap">
                    <div class="newsletter-form">
                        <div class="title-label-newsletter">
                            <span class="label-b">Đăng ký nhận <span>Tin tức mới</span></span>
                            <span class="label-s">Đăng ký để có những món hàng giảm giá hay hàng mới nhất</span>
                        </div>
                        <form method="post" action="#" class="form-newsletter">
                            <div class="newsletter-content">
                                <input type="email" name="email" placeholder="Địa chỉ Email">
                                <button class="submit-button" type="submit">ĐĂNG KÝ NGAY</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p class="copyright">Copyright 2018 <a href="index.html">@SmartStore</a> Nguyễn Hoàng Anh</p>
            <div class="pay-men"><a href="#"><img src="/images/paymen.png" alt="paymen"></a></div>
        </div>
    </div>
    <!-- Back To Top -->
    <a class="backtotop" href="#">
    </a>
    <!-- End Back To Top -->
</footer>
<script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/slick.js"></script>
<script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/wow.min.js"></script>
<script type="text/javascript" src="/assets/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/Modernizr.js"></script>
<script type="text/javascript" src="/assets/js/mobilemenu.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.plugin.js"></script>
<script type="text/javascript" src="/assets/js/jquery.countdown.js"></script>
<script type="text/javascript" src="/assets/js/frontend.min.js"></script>
<script type="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript" src='https://www.google.com/recaptcha/api.js?hl=vi'></script>
<script type="text/javascript" src="/assets/js/mainweb.js"></script>
{{{_sections.js}}}
</body>

<!-- Mirrored from kute-themes.com/html/smartmarket/html/index4.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Apr 2018 03:11:42 GMT -->
</html>