
{{#section 'title'}}
	Giới thiệu Store
{{/section}}

<div class="site-content-inner">
    <div class="breadcrumb">
        <div class="container">
            <div class="breadcrumb-wrap">
                <nav class="breadcrumb-trail breadcrumbs">
                    <ul class="trail-items">
                        <li class="trail-item trail-begin">
                            <a href="#"><span>Trang chủ</span></a>
                        </li>
                        <li class="trail-item trail-end">
                            <a href="#"><span>Giới thiệu</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="about-us-content">
            <div class="banner-about-us full-width margin-bottom-50">
                <div class="banner-us-content">
                    <h3>Chào mừng đến với Smart Store</h3>
                    <p>Đây là của hàng mua bán điện thoại hàng đầu thế giới. Với hơn 100 chi nhánh  lớn nhỏ khắp mọi nơi. Đến với chúng tôi các bạn sẽ được phục vụ những dịch vụ sản phẩm tuyệt vời nhất.</p>
                </div>
            </div>
            <div class="about-choose margin-bottom-40">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="title">Thông tin chung</h3>
                        <div class="about-content">
                            <div class="box-content">
                                <div class="items-parent">
                                    <div class="arrow-items">Tác giả</div>
                                    <div class="children">
                                        <p>Sinh viên Nguyễn Hoàng Anh - 1412011</p>
                                    </div>
                                </div>
                                <div class="items-parent">
                                    <div class="arrow-items">Giấy phép kinh doanh</div>
                                    <div class="children">
                                        <p>E102</p>
                                    </div>
                                </div>
                                <div class="items-parent">
                                    <div class="arrow-items">Sản phẩm</div>
                                    <div class="children">
                                        <p>Điện thoại, Máy tính bảng</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="brand-slide">
            <div class="owl-carousel nav-style-1" data-nav="false" data-autoplay="false" data-dots="false" data-loop="true" data-margin="0" data-responsive='{"0":{"items":2},"480":{"items":3},"640":{"items":4},"991":{"items":6}}'>
                <a href="#"><img src="/images/imgs/logo-apple.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-samsung.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-htc.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-sony.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-oppo.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-huawei.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-lenovo.png" alt="brand"></a>
            </div>
        </div>
    </div> 
</div>