/********Main-color3********/
.box-slider.opt-5 .btn-slider,
.tab-head.style3 .box-tab li.active a,
.tab-head.style3 .box-tab li a:hover,
.product-item .group-btn-control .inner .button,
.price,
.footer .copyright a,
.menu-footer li a:hover,
.nav-links .next:hover,
.blog-homepage .blog-item .blog-info .post-title a:hover,
.blog-homepage .blog-item .read-more,
.blog-items .blog-item .post-title a:hover,
.blog-item .post-categories,
.social-share-blog a:hover,
.widget li a:hover,
.widget-latest-post .info .product-title,
.widget-latest-post .info .price ins,
.list-widget-items .show-more,
.menu-footer li a:hover,
.footer .copyright a,
.product-categories .content .title a:hover,
.product-categories .title-categories:hover,
.product-categories.style2 .content .items:hover,
.product-categories.style2 .categori-link,
.product-item .cat-list:hover,
.product-item .product-name,
.product-item .group-btn-control .inner .button,
.availability-title .count-title,
.product-list-item .add_to_cart,
.product-single-button .add_to_cart,
.product-single-button .add_to_compare,
.product-list-item .add_to_compare,
.product-list-item .wishlist:hover,
.product-single-info .product-title,
.product-single-info .product-meta .categories a,
.product-single-info .product-meta .tags-detail a,
.product-single-info .share-detail a:hover,
.quantity .buttons_added .sign:hover,
.method-shiping .items i,
.content-sidebar .product-single .product-single-button .product-title,
.product-single .product-single-button .view-more:hover,
.banner-content .banner-link,
.commingsoon-content .title,
.commingsoon-content .kt-countdown .number,
.about-choose .arrow-items:after,
.about-choose .show-sub .arrow-items:after,
.product-cart .product-name a:hover,
.product-cart .product-remove .remove:not(.none):hover,
.order-form .message-return a:hover,
.order-form .arrow-items:hover,
.header-top .header-sale span,
.header-top .header-contact span,
.main-menu>li>a:hover,
.register:hover,
.vertical-menu-content li a:hover,
.vertical-menu-content li a:hover i,
.header .transport:hover,
.header .socials li a:hover,
.banner-text.style3 .b-text,
.main-menu .megamenu li a:hover,
.mini-cart-content .remove:hover,
.mini-cart-content .product-name a:hover,
.mini-cart-content .subtotal,
.product-deal .owl-nav .owl-prev:hover i:before,
.product-deal .owl-nav .owl-prev:hover i:after,
.product-deal .owl-nav .owl-next:hover i:before,
.product-deal .owl-nav .owl-next:hover i:after,
.kt-panel > ul > li > a:hover, .kt-panel .megamenu ul > li > a:hover,
.kt-panels-actions-wrap .kt-close-btn:hover, .kt-panels-actions-wrap .kt-prev-panel:hover,
.block-newletter-popup .button-submit,
.modal-content .close:hover,
.header .transport:hover span,
.product-item .product-name a:hover, 
.widget-latest-post .info .product-title:hover,
.btn-slider:hover,
.quick-view:hover,
.e-zoom:hover{
    color: #e23e1d;
}
.nav-style-1 .owl-prev:hover,
.nav-style-1 .owl-next:hover,
.owl-dot.active,
.nav-links .page-numbers.current,
.nav-links .page-numbers:not(.text):not(.next):hover,
.product-shop-top.with-border:after,
.step-by-step li.active,
.step-by-step li.active:before,
.step-by-step .items-step.active span:after,
.blog-item .read-more,
.tags a:hover,
.comments-area .reply-link a:hover,
.comment-form .button-submit,
.title-head .title-block:after,
.title-widget:after,
.tab-head:after,
.slider-range-price .ui-slider-range,
.slider-range-price .ui-slider-handle,
.slider-range-price .ui-slider-handle.ui-slider-handle-right,
.button-price-slider,
.inline input:checked ~ .input ,
.list-widget-items li .inline:hover .input,
.social-footer li a:hover,
.footer .newsletter-content .submit-button,
.product-item .group-btn-control .inner .add_to_cart,
.availability-min,
.product-content-review .box-tab li.active a,
.product-content-review .box-tab li:hover a,
.commingsoon-content .socials a:hover,
.page-404-content a:hover,
.faq-content .box-content .show-sub .arrow-items:before,
.about-choose .show-sub .arrow-items:before,
.contact-form .button-submit,
.btn-check.update,
.order-form .show-sub .arrow-items:after,
.button-search,
.vertical-menu .block-title,
.header-cart .count,
.mini-cart-content .actions .btn-checkout,
.mobile-navigation .icon>span,
.block-newletter-popup .button-submit:hover{
    background-color: #e23e1d;
}
.box-slider.opt-5 .btn-slider,
.social-footer li a:hover,
.step-by-step li.active,
.step-by-step li.active:before,
.comments-area .reply-link a:hover,
.inline input:checked ~ .input ,
.list-widget-items li .inline:hover .input,
.social-footer li a:hover,
.product-item.style2:hover,
.product-item.style3:hover,
.product-deal .product-deal-content,
.product-list-item .add_to_cart,
.product-single-button .add_to_cart,
.product-single-button .add_to_compare,
.product-list-item .add_to_compare,
.banner-content .banner-link,
.product-cart .product-remove .remove:not(.none):hover,
.order-form .show-sub .arrow-items:after,
.block-newletter-popup .button-submit,
.product-item .group-btn-control .inner .button:hover,
blockquote,
.btn-slider:hover,
.e-zoom:hover,
.slider-nav .slick-current img{
    border-color: #e23e1d;
}
.step-by-step .items-step.active span:after{
    border-top-color:#e23e1d;
    border-bottom-color:#e23e1d;
}
.product-item .product-name,
.widget-latest-post .info .product-title{
    color: #252525;
}
.main-header .logo {
    width: 300px;
}