
{{#section 'title'}}
	Thông tin mua hàng
{{/section}}


<div class="site-content-inner">
    <div class="breadcrumb margin-bottom-50">
        <div class="container">
            <div class="breadcrumb-wrap">
                <nav class="breadcrumb-trail breadcrumbs">
                    <ul class="trail-items">
                         <li class="trail-item trail-begin">
                            <a href="index.html"><span>Trang chủ</span></a>
                        </li>
                        <li class="trail-item trail-begin">
                            <a href="shop-grid.html"><span>Sản phẩm</span></a>
                        </li>
                        <li class="trail-item trail-begin">
                            <a href="shop-detail-accessories.html"><span>Chi tiết</span></a>
                        </li>
                        <li class="trail-item trail-begin">
                            <a href="shopping-cart.html"><span>Giỏ hàng</span></a>
                        </li>
                        <li class="trail-item trail-begin">
                            <a href="checkout.html"><span>Thông tin thanh toán</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="step-by-step">
            <ul class="list-step">
                <li class="items-step "><span><p>Giỏ hàng</p></span></li>
                <li class="items-step active"><span><p>Hóa đơn</p></span></li>
                <li class="items-step "><span><p>Hoàn tất</p></span></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="order-form">
            <div class="message-return">Bạn đã có tài khoản?<a href="#">Đăng nhập ở đây</a></div>
            <div class="row">
                <div class="col-md-8">
                    <div class="box-form-order">
                        <div class="title">Thông tin hóa đơn</div>                           
                        <div class="box-order-info address">
                            <label class="address-lable">ĐỊA CHỈ NHẬN HÀNG </label>
                            <div class="form-input">
                                <label>Họ và tên *</label>
                                <input type="text" class="input-form">
                            </div>
                            <div class="form-input">
                                <label>Đường *</label>
                                <input type="text" class="input-form">
                            </div>
                            <div class="form-input">
                                <label>Xã / Phường *</label>
                                <input type="text" class="input-form">
                            </div>
                            <div class="form-input">
                                <label>Huyện / Quận</label>
                                <select name="position">
                                    <option value="position1"></option>
                                    <option value="position1">Quận 1</option>
                                    <option value="position2">Thủ Đức</option>
                                    <option value="position3">Quận 2</option>
                                    <option value="position4">Quận 5</option>
                                    <option value="position5">Quận 3</option>
                                    <option value="position6">Quận 7</option>
                                </select>
                            </div>
                            <div class="form-input">
                                <label>Tỉnh / Thành phố *</label>
                                <select name="position">
                                    <option value="position1"></option>
                                    <option value="position1">TP Hồ Chí Minh</option>
                                    <option value="position2">Hà Nội</option>
                                    <option value="position3">Hải Phòng</option>
                                    <option value="position4">Cao Bằng</option>
                                    <option value="position5">Cà Mau</option>
                                    <option value="position6">Cần Thơ</option>
                                    <option value="position7">Đak Lak</option>
                                </select>
                            </div>
                            <div class="form-input">
                                <label>Email *</label>
                                <input type="email" class="input-form">
                            </div>
                            <div class="form-input">
                                <label>Số điện thoại *</label>
                                <input type="text" class="input-form" id="text-onlynumber">
                            </div>
                            <div class="form-input">
                                <label>Ghi chú cho hóa đơn của bạn</label>
                                <textarea class="textarea-form" rows="1" ></textarea>
                            </div>
                            <div class="form-input">
                                <label class="atm-lable">PHƯƠNG THỨC THANH TOÁN *</label>
                                <div class="message-return red-text">* Thông tin thanh toán của bạn được đảm bảo an toàn tuyệt đối</div>
                                <div class="box-content">
                                    <div class="items-parent">
                                        <div class="arrow-items">COD</div>
                                        <div class="children">
                                            <div class="transfer-atm">
                                                <p>Nhận hàng khi thanh toán</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="items-parent">
                                        <div class="arrow-items">Chuyển khoản ATM</div>
                                        <div class="children">
                                            <div class="transfer-atm">
                                                <div class="message-return red-text">* Lưu ý</div>
                                                <p>&#8594; Khi shop nhận được tiền chuyển khoản, sản phẩm mới được xuất kho</p>
                                                <p>&#8594; Vui lòng chuyển khoản vào tài khoản ngân hàng của shop</p>
                                                <ul class="margin-left-10">
                                                    <li>ARGIBANK    : Nguyễn Hoàng Anh - STK: 6380 2010 0835 9</li>
                                                    <li>Vietinbank  : Nguyễn Hoàng Anh - STK: 1080 0398 8368</li>
                                                    <li>Sacombabank : Nguyễn Hoàng Anh - STK: 0200 0426 2498</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="items-parent">
                                        <div class="arrow-items">Master Card, Visa, Discover</div>
                                        <div class="children">
                                            <div class="transfer-atm">
                                                <div class="row">
                                                    <div class="col-md-6 mb-3">
                                                        <label for="cc-name">Tên chủ thẻ</label>
                                                        <input type="text" class="form-control payment-input" id="cc-name" placeholder="" required="">
                                                        <small class="text-muted">Họ tên ghi trên thẻ</small>

                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <label for="cc-number">Số thẻ</label>
                                                        <input type="text" class="form-control payment-input" id="cc-number" placeholder="" required="">
                                                        <small class="text-muted">Dãy số mặt trước thẻ</small>

                                                    </div>
                                                </div>

                                                <div class="row">
                                                  <div class="col-md-3 mb-3">
                                                    <label for="cc-expiration">Ngày hết hạn</label>
                                                    <input type="text" class="form-control payment-input" id="cc-expiration" placeholder="" required="">
                                                    <small class="text-muted"></small>

                                                  </div>
                                                  <div class="col-md-3 mb-3">
                                                    <label for="cc-expiration">CVV</label>
                                                    <input type="text" class="form-control payment-input" id="cc-cvv" placeholder="" required="">
                                                    <small class="text-muted">3 số mặt sau thẻ</small>

                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                 <a href="order.html" class="btn-check process">&#10095;&#10095; HOÀN TÂT ĐẶT HÀNG</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-form-order order">
                        <div class="title">HÓA ĐƠN</div>
                        <div class="box-order-info">
                            <div class="shipping-left">TÊN SẢN PHẨM<span>GIÁ</span></div>
                            <div class="shipping-left">SamSung S6  x 1<span class="price">12000000</span></div>
                            <div class="shipping-left">Iphone 5s x 2<span class="price">5000000</span></div>
                            <div class="shipping-left">Tổng tiền<span class="price">22000000</span></div>
                            <div class="shipping-left">Phí vận chuyển<span>Miễn phí</span></div>
                            <div class="shipping-left">Tổng thanh toán<span class="price">22000000</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="brand-slide">
            <div class="owl-carousel nav-style-1" data-nav="false" data-autoplay="false" data-dots="false" data-loop="true" data-margin="0" data-responsive='{"0":{"items":2},"480":{"items":3},"640":{"items":4},"991":{"items":6}}'>
                <a href="#"><img src="/images/imgs/logo-apple.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-samsung.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-htc.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-sony.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-oppo.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-huawei.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-lenovo.png" alt="brand"></a>
            </div>
        </div>
    </div> 
</div> 