
{{#section 'title'}}
	Hoàn tất mua hàng
{{/section}}


<div class="site-content-inner">
    <div class="breadcrumb margin-bottom-50">
        <div class="container">
            <div class="breadcrumb-wrap">
                <nav class="breadcrumb-trail breadcrumbs">
                    <ul class="trail-items">
                        <li class="trail-item trail-begin">
                            <a href="index.html"><span>Trang chủ</span></a>
                        </li>
                        <li class="trail-item trail-begin">
                            <a href="shop-grid.html"><span>Sản phẩm</span></a>
                        </li>
                        <li class="trail-item trail-begin">
                            <a href="shop-detail-accessories.html"><span>Chi tiết</span></a>
                        </li>
                        <li class="trail-item trail-begin">
                            <a href="shopping-cart.html"><span>Giỏ hàng</span></a>
                        </li>
                        <li class="trail-item trail-begin">
                            <a href="checkout.html"><span>Thông tin thanh toán</span></a>
                        </li>
                        <li class="trail-item trail-begin">
                            <a href="order.html"><span>Hoàn tất</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="step-by-step">
            <ul class="list-step">
                <li class="items-step "><span><p>Giỏ hàng</p></span></li>
                <li class="items-step "><span><p>Hóa đơn</p></span></li>
                <li class="items-step active"><span><p>Hoàn tất</p></span></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="order-form">
            <div class="row">
                <div class="col-md-8">
                    <div class="box-form-order">
                        <div class="title">THÔNG TIN HÓA ĐƠN</div>
                        <div class="box-order-info address">
                            <div class="form-group">
                                <label>Họ tên người nhận:</label>
                                <label class="info-order-complete">Nguyễn Văn An</label>
                            </div>
                            <div class="form-group">
                                <label>Số điện thoại:</label>
                                <label class="info-order-complete">0981333497</label>
                            </div>
                            <div class="form-group">
                                <label>Email:</label>
                                <label class="info-order-complete">nghanh.ittn@gmail.com</label>
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ nhận hàng:</label>
                                <textarea class="form-control" rows="3" readonly="true"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Thanh toán:</label>
                                <label class="info-order-complete">COD</label>
                            </div>
                            <div class="change-info">
                                 <a href="checkout.html" class="">Thay đổi thông tin</a>
                            </div>
                            <div class="">
                                 <a href="account.html" class="btn-check process">&#10095;&#10095; XÁC NHẬN</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-form-order order">
                        <div class="title">HÓA ĐƠN</div>
                        <div class="box-order-info">
                            <div class="shipping-left">TÊN SẢN PHẨM<span>GIÁ</span></div>
                            <div class="shipping-left">SamSung S6  x 1<span class="price">12000000</span></div>
                            <div class="shipping-left">Iphone 5s x 2<span class="price">5000000</span></div>
                            <div class="shipping-left">Tổng tiền<span class="price">22000000</span></div>
                            <div class="shipping-left">Phí vận chuyển<span>Miễn phí</span></div>
                            <div class="shipping-left">Tổng thanh toán<span class="price">22000000</span></div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="brand-slide">
            <div class="owl-carousel nav-style-1" data-nav="false" data-autoplay="false" data-dots="false" data-loop="true" data-margin="0" data-responsive='{"0":{"items":2},"480":{"items":3},"640":{"items":4},"991":{"items":6}}'>
                <a href="#"><img src="/images/imgs/logo-apple.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-samsung.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-htc.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-sony.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-oppo.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-huawei.png" alt="brand"></a>
                <a href="#"><img src="/images/imgs/logo-lenovo.png" alt="brand"></a>
            </div>
        </div>
    </div> 
</div> 